<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-nl6jz5x8rmwhoxha.us.auth0.com</string>
	<key>ClientId</key>
	<string>4Am7Yk2YCtsFS1LUqmHBLkA6TL3Irc2u</string>
</dict>
</plist>
